{% extends 'html/base.html' %}

{% block title %}{{ gettext("Account Settings") }} - MathHarbor workspace{% endblock title %}

{% block navbar %}{% endblock navbar %}

{% block alerts %}
	{% if error_msg %}
		<div class="alert alert-error">
			{{ error_msg }}
		</div>
	{% endif %}
{% endblock alerts %}

{% block page %}
	<h1 class="title">{{ gettext("Account Settings") }}</h1>
	{% if admin %}
	<div style="margin-top: 20px">
		<a href="/manage_users" class="btn">{{ gettext('Manage Users') }}</a>
		<a href="/notebook_settings" class="btn">{{ gettext('Notebook Settings') }}</a>
	</div>
	{% endif %}
	<form action="/settings" class="form-horizontal" method="post" id="account_settings_form">
		<fieldset>
			<legend>{{ gettext("Auto-Save") }}</legend>
			<div class="control-group">
				<label class="control-label" for="autosave">{{ gettext('Auto-Save Interval') }}</label>
				<div class="controls">
					<select name="autosave" id="autosave">
						{% for i, selected in autosave_intervals %}
							<option value="{{ i }}"{{ selected }}>{{ i }} {{ gettext('minute(s)') }}</option>
						{% endfor %}
					</select>
					<p class="help-block"></p>
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>{{ gettext('Change Password') }}</legend>

			<div class="control-group">
				<label class="control-label" for="old-pass">{{ gettext('Old password') }}</label>
				<div class="controls">
					<input type="password" name="old-pass" id="old-pass">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="new-pass">{{ gettext('New password') }}</label>
				<div class="controls">
					<input type="password" name="new-pass" id="new-pass">
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="retype-pass">{{ gettext('Retype new password') }}</label>
				<div class="controls">
					<input type="password" name="retype-pass" id="retype-pass">
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>Email</legend>
			<div class="control-group">
				<label class="control-label" for="">{{ gettext('Current e-mail') }}</label>
				<div class="controls">
					<input type="email" disabled="disabled" value="{{ email_address }}">
					<p class="help-block">{{ email_confirmed }}</p>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="new-email">{{ gettext('New e-mail') }}</label>
				<div class="controls">
					<input type="email" value="{{ email_address }}" name="new-email" id="new-email">
					<p class="help-block"></p>
				</div>
			</div>
		</fieldset>

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{ gettext('Save') }}</button>
			<a class="btn" href="/">{{ gettext('Cancel') }}</a>
		</div>
	</form>
{% endblock page %}

{% block extra_javascript %}
	<script type="text/javascript">
		// init notebook stuff
		sagenb.init();
	</script>
{% endblock extra_javascript %}