{% extends "html/base.html" %}
{% block title %}{{ gettext('Create your profile') }} - MathHarbor workspace{% endblock %}
{% block page_id %}openid-profile-page{% endblock %}

{% block alerts %}

{% if creation_error %}
	<div class="alert alert-error">
		{{ gettext('<strong>Uh oh!</strong> There was an error creating your account. Account creation may be disabled. Please contact the workspace administrator.') }}
	</div>
{% endif %}

{% endblock alerts %}

{% block main %}
	<div class="container" style="margin-top: 100px; width: 770px">
		<h2>{{ gettext('Create your Sage profile') }}</h2>
		<form action="/openid_profiles" method="post">
			<fieldset>
				<div class="control-group {% if username_missing or username_taken or username_invalid %}error{% endif %}">
					<label for="username" class="control-label">{{ gettext("Username") }}</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="username" name="username"  value="{{ resp.fullname }}">

						{% if username_missing %}
							<span class="help-inline">{{ gettext('No username given') }}</span>
						{% endif %}
						{% if username_taken %}
							<span class="help-inline">{{ gettext('Username already in use') }}</span>
						{% endif %}
						{% if username_invalid %}
							<span class="help-inline">{{ gettext('Bad username') }}</span>
						{% endif %}

						<p class="help-block">{{ gettext('Your username must start with a letter and be between 3 and 64 characters long. You may only use letters, numbers, underscores, @, and dots.') }}</p>
					</div>
				</div>

				<div class="control-group {% if email_missing or email_invaild %}error{% endif %}">
					<label for="email" class="control-label">{{ gettext("Email") }}</label>

					<div class="controls">
						<input type="email" class="input-xlarge" id="email" name="email" value="{{ resp.email }}">

						{% if email_missing %}
							<span class="help-inline">{{ gettext('No email address given') }}</span>
						{% endif %}
						{% if email_invalid %}
							<span class="help-inline">{{ gettext('Invalid email address') }}</span>
						{% endif %}

						<p class="help-block">{{ gettext('Your email address is required for account '
							'confirmation and recovery. You will be emailed a confirmation link '
							'right after you successfully sign up.') }}</p>
					</div>
				</div>

				{% if challenge %}
					<div class="control-group {% if challenge_missing or challenge_invalid %}error{% endif %}">
						<label for="" class="control-label">{{ gettext("Challenge") }}</label>
						<div class="controls">
							{{ challenge_html }}
						</div>
						
						{% if challenge_missing %}
							<p class="help-block">{{ gettext('No challenge response given') }}</p>
						{% endif %}
						{% if challenge_invalid %}
							<p class="help-block">{{ gettext('Invalid challenge response') }}</p>
						{% endif %}
					</div>
				{% endif %}

				<input type="hidden" name="next" value="{{ next }}">

				<div class="form-actions">
					<button class="btn btn-primary" type="submit">{{ gettext("Create profile") }}</button>
				</div>
			</fieldset>
		</form>
	</div>
{% endblock %}