<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}

		<meta charset="utf-8">
		<title>{% block title %}MathHarbor{% endblock title %}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Vakul Arora and Rudi MK">

		<!-- styles -->
		<link href="/data/bootstrap-2.0.4/css/bootstrap.min.css" rel="stylesheet">
		<link href="/data/bootstrap-2.0.4/css/bootstrap-responsive.min.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- fav and touch icons -->
		<!-- these should be customized for sage -->
		<link rel="shortcut icon" href="/data/sage/images/sageicon.png">
		
		<!-- LESS -->
		<link href="/data/sage/less/main.less" rel="stylesheet/less">
		<script src="/data/less-1.3.0.min.js" type="text/javascript"></script>

		{% endblock head %}
	</head>

	<body>

		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="/" style="padding-bottom: 0; padding-top: 5px; padding-right: 0;"><img src="" alt="MathHarbor" width="113" height="30"></a>

					<div id="user_navbar_area"></div>

					<div class="nav-collapse">
						{% block navbar %}
						{% endblock navbar %}
					</div><!--/.nav-collapse -->
				</div><!--/.container -->
			</div><!--/.navbar-inner -->
		</div><!--/.navbar -->

		<div class="alert_container">
			<div class="alert_container_inner">
				{% include 'html/alerts/connection_alert.html' %}

				{% block alerts %}
				{% endblock alerts %}
			</div>
		</div>

		{% block main %}
		<div class="container">
			{% block container %}
				{% block before_page %}
				{% endblock before_page %}

			<div class="the_page">
				{% block page %}
				{% endblock page %}
			</div> <!-- /the_page -->
			{% endblock container %}
		</div> <!-- /the_container -->
		{% endblock %}

		{% block after_container %}
		{% endblock after_container %}

		<!-- Translations. This has Jinja templating in it so it can't be bundled -->
		<script type="text/javascript" src="/data/sage/js/localization.js"></script>

		{# TODO disable minification when in debug mode #}
		{% assets filters="rjsmin", output="webassets_generated/base.js",
			"jquery/jquery-1.7.2.min.js",
			"bootstrap-2.0.4/js/bootstrap.min.js",
			"jeresig-jquery.hotkeys-0451de1/jquery.hotkeys.js",
			"sage/js/misc.js",
			"json/json2.min.js",
			"spin.min.js",
			"sage/js/sagenb.js"
		%}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
		{% endassets %}

		<!-- This has Jinja templating in it so it can't be bundled -->
		<script type="text/javascript" src="/javascript/dynamic/username.js"></script>

		{% block extra_javascript %}
		{% endblock extra_javascript %}
	</body>
</html>
