<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ gettext('Uh Oh') }} - MathHarbor workspace</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Samuel Ainsworth">

		<!-- styles -->
		<link href="/data/bootstrap-2.0.4/css/bootstrap.min.css" rel="stylesheet">
		<link href="/data/bootstrap-2.0.4/css/bootstrap-responsive.min.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- fav and touch icons -->
		<!-- these should be customized for sage -->
		<link rel="shortcut icon" href="/data/sage/images/favicon.ico">
		
		<!-- LESS -->
		<link href="/data/sage/less/main.less" rel="stylesheet/less">
		<script src="/data/less-1.3.0.min.js" type="text/javascript"></script>
	</head>

	<body>

		<div class="msgbox">
			{{ msg }}
			{% if cont %}
			<a class="btn btn-primary" href="{{ cont }}">{{ gettext('Continue') }}</a>
			{% endif %}
		</div>

		<style type="text/css">
			body {
				padding-top: 50px;
				padding-bottom: 50px;
			}

			.msgbox {
				width: 500px;
				height: 250px;
				border-radius: 15px;
				background-color: #ccc;
				margin-left: auto;
				margin-right: auto;
				padding: 15px;
				position: relative;
			}

			.msgbox a {
				position: absolute;
				bottom: 15px;
				right: 15px;
			}
		</style>
	</body>
</html>
