<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ gettext('MathHarbor: History for %(u)s', u=username) }}</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Samuel Ainsworth">

		<!-- styles -->
		<link href="/data/bootstrap-2.0.4/css/bootstrap.min.css" rel="stylesheet">
		<link href="/data/bootstrap-2.0.4/css/bootstrap-responsive.min.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- fav and touch icons -->
		<!-- these should be customized for sage -->
		<link rel="shortcut icon" href="/data/sage/images/favicon.ico">
		
		<!-- LESS -->
		<link href="/data/sage/less/main.less" rel="stylesheet/less">
		<script src="/data/less-1.3.0.min.js" type="text/javascript"></script>
	</head>

	<body>
		<div class="the_container">
			<pre>{{ text | escape }}</pre>
			<a title="{{ gettext('Click here to turn the above into a Sage worksheet') }}" href="/live_history">{{ gettext('Create a new Sage worksheet version of the last 100 commands in the above log.') }}</a>
		</div> <!-- /the_container -->

		<script type="text/javascript" src="/data/jquery-1.7.2.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$("html, body").animate({ scrollTop: $(document).height() }, "slow");
				return false;
			});
		</script>

		<style type="text/css">
			body {
				padding-top: 50px;
				padding-bottom: 50px;
			}
		</style>
	</body>
</html>
