{% extends "html/base.html" %}

{% block title %}{{ gettext('Sign in') }} - MathHarbor{% endblock %}

{% block page_id %}login-page{% endblock %}

{% block alerts %}
	{% if welcome_user %}
		<div class="alert alert-success">
			<button class="close" data-dismiss="alert">×</button>
			<strong>{{ gettext('Congratulations %(u)s! You can now sign into the MathHarbor workspace.', u=welcome_user) }}</strong>
		</div>
	{% endif %}

	{% if username_error or password_error %}
		<div class="alert alert-error">
			<button class="close" data-dismiss="alert">×</button>
			<strong>{{ gettext('Error') }}:</strong> {{ gettext('Bad login credentials') }}
		</div>
	{% endif %}

	{% if creation_error %}
		<div class="alert alert-error">
			<button class="close" data-dismiss="alert">×</button>
			<strong>{{ gettext('Error') }}:</strong> {{ gettext('Creating new users is disabled by the administrator.') }}
		</div>
	{% endif %}
{% endblock alerts %}

{% block main %}
	<div class="container" style="margin-top: 60px;">
		<div class="row-fluid">
			<div id="desc" class="span8">
				<h2>{{ gettext('Welcome!') }}</h2>
				<p>{{ gettext('<strong>MathHarbor:</strong> High-performance, collaborative numerical computing, on the cloud.') }}</p>
			</div>

			<div id="sign-in-box" class="span4">
				<h2 style="margin-bottom: 10px;">Sign into the MathHarbor workspace v0.2</h2>
				<form method="post" action="/login" id="sign-in-form" class="well">
					<div>
						<label for="email">{{ gettext('Username') }}</label>
						<input type="text" type="email" name="email" id="email" style="width: 97%;" />
					</div>
					<div>
						<div style="margin-bottom: 5px">
							<label for="password" style="display: inline">{{ gettext('Password') }}</label>
							{% if recovery %}
								<a href="/forgotpass" style="font-size: 10px; line-height: 1em; padding-left: 5px">{{ gettext('forgot password?') }}</a>
							{% endif %}
						</div>
						
						<input type="password" name="password" id="password " style="width: 97%;" />
					</div>
					<div>
						<label for="remember"><input type="checkbox" name="remember" id="remember" /> {{ gettext('Remember me') }}</label>
					</div>
					<div style="margin-top: 10px;">
						<input type="hidden" name="next", value="{{ next }}"/>
						<button type="submit" class="btn btn-primary">{{ gettext('Sign in') }}</button>
						{% if accounts %}
							<a href="/register" id="register-link" class="btn">{{ gettext('Register') }}</a>
						{% endif %}
					</div>
				</form>

				{% if openid %}
					<form method="post" action="/loginoid" id="openid" class="well"></form>
				{% endif %}

				<div>
					<a href="/pub"><strong>{{ gettext('Browse published MathHarbor worksheets (no login required)') }}</strong></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block after_container %}{% endblock after_container %}

{% block extra_javascript %}
	<link rel="stylesheet" href="/data/openid-realselector/css/style.css" />
		<style type="text/css">
		body {
			background-color: #fafafa;
		}
		#openid {
			width: auto;
			height: inherit;
			margin-bottom: 20px;
			background-color: whiteSmoke;
		}
	</style>

	<script type="text/javascript" src="/data/openid-realselector/js/jquery.openid.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#openid').openid({
				img_path: '/data/openid-realselector/img/openid/',
				txt: {
					label: '<strong>{provider}</strong> {username}',
					username: '{{ gettext('username') }}',
					// title: '{{ gettext('Select an OpenID provider') }}',
					sign: '{{ gettext('Sign in') }}'
				}
			});
		});
	</script>
{% endblock %}