{% extends 'html/modals/modal_base.html' %}

{% block modal_id %}system_modal{% endblock modal_id %}

{% block modal_title %}{{ gettext("Worksheet System") }}{% endblock modal_title %}

{% block modal_content %}

<div style="text-align: center">
	<select id="system_select">
		<option value="sage">Sage</option>
                <option value="octave">Octave</option>
                <option value="scilab">Scilab</option>
                <option value="mathematica">Mathics</option>
                <option value="r">R</option>
                <option value="python">Python</option>
                <option value="sh">Shell script</option>
                <option value="latex">Latex</option>
                <option value="html">HTML</option>
	</select>
</div>

{% endblock modal_content %}

{% block modal_footer %}
<a href="#" class="btn" data-dismiss="modal">{{ gettext("Cancel") }}</a>
<a href="#" class="btn btn-primary" data-dismiss="modal">{{ gettext("Change system") }}</a>
{% endblock modal_footer %}
